body {
  background-color: #f2f2f2;
  height: 100vh;
}

/* CENTRAR DANDO EL ALTO DEL VIEPORT */
.row,
#app .container {
  height: inherit;
}

.w-20 {
  width: 20%;
}

.trans {
  transition: all 0.3s ease;
  transition-delay: 0.2s;
}
